{% extends "exam/base.html" %}
{% block content %}
<table class="table">

  <thead>
    <tr>
      <th scope="col">Exam_list</th>
        <!--<th>Exam_description</th>-->
        <th>Exam_category</th>
    </tr>
  </thead>
  <tbody>
    {% for key in exams %}
       <tr>
        <td>{{key.name}}
           <!--<td> {{key.description}} </td>-->
            <td> {{key.category}}</td>

        <td><a type="button" class="btn btn-info" href="{% url 'exam:create_question' key.id %}">add question</a>
            <!--<a href="/question_list/" type="=button" class="btn btn-info ">consult exam</a>-->
            <a href="{% url 'exam:preparation' exam_id=key.id %}" type="=button" class="btn btn-info ">try exam</a>
            <a href="{% url 'exam:preparationSTUD' exam_id=key.id %}" type="=button" class="btn btn-info ">pass exam</a>


        </td>
    {% endfor %}
       </tr>

  </tbody>
</table>
{% endblock %}

