{% extends "exam/base.html" %}
{% block content %}

<table class="table">
    <thead>
    <tr>

        <th scope="col">First name</th>
        <th scope="col">Last name</th>
        <th scope="col">Email</th>
        <!--<th scope="col">add to my students</th>-->
        <!--</tr>-->
    </thead>
    <tbody>
    {% for us in userLIST %}
    <tr>

        <td>{{us.first_name}}</td>
        <td>{{us.last_name}}</td>
        <td>{{us.email}}</td>
        <form method="post" action="">
            {% csrf_token %}
            <td><input type="hidden" name="id_us" value="{{us.email}}"></td>
            <td>
                <input type="submit" value="add to my student" class="btn btn-danger" name="submit">
            </td>
        </form>
    </tr>
    {% endfor %}
    </tbody>
</table>


{% endblock %}