<!DOCTYPE html>
<html lang="en">
{% load staticfiles %}
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{% block title %}{% endblock %}</title>
    <meta name="description" content="Sufee Admin - HTML5 Admin Template">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="apple-touch-icon" href="apple-icon.png">
    <link rel="shortcut icon" href="favicon.ico">

    <link rel="stylesheet" href="{% static 'assets/css/normalize.css'%}">
    <link rel="stylesheet" href="{% static 'assets/css/bootstrap.min.css'%}">
    <link rel="stylesheet" href="{% static 'assets/css/font-awesome.min.css'%}">
    <link rel="stylesheet" href="{% static 'assets/css/themify-icons.css'%}">
    <link rel="stylesheet" href="{% static 'assets/css/flag-icon.min.css'%}">
    <link rel="stylesheet" href="{% static 'assets/css/cs-skin-elastic.css'%}">
    <link rel="stylesheet" href="{% static 'assets/css/lib/datatable/dataTables.bootstrap.min.css'%}">
    <!-- <link rel="stylesheet" href="assets/css/bootstrap-select.less"> -->
    <link rel="stylesheet" href="{% static 'assets/scss/style.css'%}">
    <link href="{% static 'assets/css/lib/vector-map/jqvmap.min.css'%}" rel="stylesheet">

    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800' rel='stylesheet' type='text/css'>

    <!-- <script type="text/javascript" src="https://cdn.jsdelivr.net/html5shiv/3.7.3/html5shiv.min.js"></script> -->

    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
<aside id="left-panel" class="left-panel">
    <nav class="navbar navbar-expand-sm navbar-default">

        <div class="navbar-header">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#main-menu"
                    aria-controls="main-menu" aria-expanded="false" aria-label="Toggle navigation">
                <i class="fa fa-bars"></i>
            </button>
            <a class="navbar-brand" href="./"><img src="" alt="Quiz"></a>
            <a class="navbar-brand hidden" href="./"><img src="" alt="Q"></a>
        </div>

        <div id="main-menu" class="main-menu collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li class="active">
                    <a href="/exam/"> <i class="menu-icon fa fa-dashboard"></i>Dashboard </a>
                </li>
                <h3 class="menu-title">elements</h3>
                <li>
                    <a href="/exam/">Exams</a>
                    <ul class="sub-menu children dropdown-menu">

                    </ul>
                </li>
                <li>
                    <ul class="sub-menu children dropdown-menu">
                    </ul>
                </li>
                <li>
                    <ul class="sub-menu children dropdown-menu">
                    </ul>
                </li>
                <li>
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
                       aria-expanded="false"> Profile</a>
                    <ul class="sub-menu children dropdown-menu">
                        <li><a href="{% url 'authentification:login'%}">login</a></li>
                        <li><a href="{% url 'authentification:signup'%}">signup</a></li>
                        <li class="menu-item-has-children ">
                            <a href="{% url 'becameProf' %}" class="" aria-haspopup="true"
                               aria-expanded="false"> <i class="menu-icon fa fa-th"></i>Become Professor</a>

                        </li>
                    </ul>
                </li>
                <li class="">
                </li>
            </ul>
        </div>
    </nav>
</aside>
<div id="right-panel" class="right-panel">

    <!-- Header-->
    <header id="header" class="header">

        <div class="header-menu">

            <div class="col-sm-7">
                <a id="menuToggle" class="menutoggle pull-left"><i class="fa fa fa-tasks"></i></a>
                <div class="header-left">
                    <button class="search-trigger"><i class="fa fa-search"></i></button>
                    <div class="form-inline">
                        <form class="search-form">
                            <input class="form-control mr-sm-2" type="text" placeholder="Search ..."
                                   aria-label="Search">
                            <button class="search-close" type="submit"><i class="fa fa-close"></i></button>
                        </form>
                    </div>

                    <div class="dropdown for-notification">
                        <button class="btn btn-secondary dropdown-toggle" type="button" id="notification"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="fa fa-bell"></i>
                            <span class="count bg-danger">5</span>
                        </button>
                        <div class="dropdown-menu" aria-labelledby="notification">

                            </a>
                        </div>
                    </div>


                </div>
            </div>
            <div class="col-sm-5">
                <div class="user-area dropdown">
                    <p>
                        <a href="{% url 'authentification:signup'%}" signup</a>

                    </p>


                </div>


            </div>

            <div class="col-sm-5">
                <div class="user-area dropdown float-right">
                    <p>
                        <a href="{% url 'authentification:logout'%}">Logout</a>

                    </p>


                </div>


            </div>
        </div>

    </header>
    <div class="breadcrumbs">
        <div class="col-sm-4">
            <div class="page-header float-left">
                <div class="page-title">
                    <h1>Quiz</h1>
                </div>
            </div>
        </div>
        <div class="col-sm-8">
            <div class="page-header float-right">
                <div class="page-title">
                    <ol class="breadcrumb text-right">
                        <li class="active"></li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
    <div class="content mt-3">
        <div class="content mt-3">
            {% block content %}
            {% endblock %}
        </div>
    </div>
</div>


<script src="{% static 'assets/js/vendor/jquery-2.1.4.min.js'%}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js'%}"></script>
<script src="{% static 'assets/js/plugins.js'%}"></script>
<script src="{% static 'assets/js/main.js'%}"></script>
<script src="{%static 'assets/js/lib/data-table/datatables.min.js'%}"></script>
<script src="{%static 'assets/js/lib/data-table/dataTables.bootstrap.min.js'%}"></script>
<script src="{%static 'assets/js/lib/data-table/dataTables.buttons.min.js'%}"></script>
<script src="{%static 'assets/js/lib/data-table/buttons.bootstrap.min.js'%}"></script>
<script src="{%static 'assets/js/lib/data-table/jszip.min.js'%}"></script>
<script src="{%static 'assets/js/lib/data-table/pdfmake.min.js'%}"></script>
<script src="{%static 'assets/js/lib/data-table/vfs_fonts.js'%}"></script>
<script src="{%static 'assets/js/lib/data-table/buttons.html5.min.js'%}"></script>
<script src="{%static 'assets/js/lib/data-table/buttons.print.min.js'%}"></script>
<script src="{%static 'assets/js/lib/data-table/buttons.colVis.min.js'%}"></script>
<script src="{%static 'assets/js/lib/data-table/datatables-init.js'%}"></script>
<script>


    <script src="{% static 'assets/js/lib/chart-js/Chart.bundle.js'%}">




</script>
<script src="{% static 'assets/js/dashboard.js'%}"></script>
<script src="{% static 'assets/js/widgets.js'%}"></script>
<script src="{% static 'assets/js/lib/vector-map/jquery.vmap.js'%}"></script>
<script src="{% static 'assets/js/lib/vector-map/jquery.vmap.min.js'%}"></script>
<script src="{% static 'assets/js/lib/vector-map/jquery.vmap.sampledata.js'%}"></script>
<script src="{% static 'assets/js/lib/vector-map/country/jquery.vmap.world.js'%}"></script>
<script>
        ( function ( $ ) {
            "use strict";

            jQuery( '#vmap' ).vectorMap( {
                map: 'world_en',
                backgroundColor: null,
                color: '#ffffff',
                hoverOpacity: 0.7,
                selectedColor: '#1de9b6',
                enableZoom: true,
                showTooltip: true,
                values: sample_data,
                scaleColors: [ '#1de9b6', '#03a9f5' ],
                normalizeFunction: 'polynomial'
            } );
        } )( jQuery );





</script>
<script type="text/javascript">
        $(document).ready(function() {
          $('#bootstrap-data-table-export').DataTable();
        } );





</script>
</body>

</html>
