{% extends 'exam/base_user.html' %}
{% block content %}
<center><h3>{{exam.name}}</h3></center>
{% for q in questions %}
<h5>{{q.description}}</h5>
<p>{{q.correct_answer}}</p>
{% endfor %}


{% endblock %}