{% extends "exam/base.html" %}

{% block content %}

<!-- Page Content -->
<div class="content mt-3">
    <div class="animated fadeIn">
        <form method="POST" enctype="multipart/form-data">

            <div class="row">

                <div class="col-xs-6 col-sm-6">
                    {%csrf_token%}
                    <div class="card" style="width:70 px">
                        <div class="card-header">
                            <strong>Create Exam</strong>
                        </div>
                        <div class="card-body card-block">
                            <div class="form-group">
                                <label class=" form-control-label">Name :</label>
                                <div class="input-group">
                                    <input class="form-control" name="examName" placeholder="Exam ...">
                                </div>
                                <small class="form-text text-muted"></small>
                            </div>
                            <div class="form-group">
                                <label class=" form-control-label">Description</label>
                                <div class="input-group">
                                    <textarea name="ExamDesc" id="ExamDesc" rows="9" placeholder="Content..."
                                              class="form-control"></textarea>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class=" form-control-label">Category </label>
                                <select data-placeholder="Choose a Category..." class="standardSelect" tabindex="1"
                                        name="category">
                                    <option value=""></option>
                                    <option value="WEB">WEB</option>
                                    <option value="big_data">big data</option>
                                    <option value="programming">programming</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class=" form-control-label">Logo :</label>
                            <div class="input-group">
                                <input class="form-control" type="file" name="logo">
                            </div>
                        </div>
                        <div class="form-group">

                            <div class="input-group">
                                <input class="form-control" name="timer" placeholder="time of exam ..." type="number"
                                       value="0">
                            </div>
                        </div>


                        <div class="form-group">
                            <label class=" form-control-label" style="text-align:right"> Mode </label>

                            <select data-placeholder="Choose a mode..." class="standardSelect" tabindex="1" name="mode">
                                <option value=""></option>
                                <option value="WEB">training</option>
                                <option value="big_data">certified_exam</option>
                                <option value="programming">non_certified exam</option>


                            </select>
                        </div>

                        <div class="form-group">
                            <div class="input-group">
                                <label class=" form-control-label" style="text-align:right"> success-score </label>

                                <input class="form-control" name="success_score" placeholder="success_score ..."
                                       type="number" value="70"></div>
                        </div>
                    </div>


                </div>
            </div>


            <br><br>

            <center>
                <button class="btn btn-success btn-lg" type="submit" name="submit">Create</button>
            </center>
        </form>
    </div>
</div>


</div>
</div>

{% endblock %}

