{% extends "exam/base.html" %}
{%block content %}

<div class="jumbotron text-center">
  <h1>Ghazela Technology Academy</h1>
  <p>welcome to our exam-lab</p>
    <a href="{% url 'exam:active_exams' %}" type="button" class="btn btn-dark">exam list</a>

</div>
{% endblock %}