  {% extends 'exam/base.html' %}

{% block content %}
<div class="container">
    <form method="post">
        <div class="col-xs-12 col-sm-12">
            {%csrf_token%}
            <div class="card">
                <div class="card-header">
                    <div class="col-lg-6 ">
                        <strong>Edit free_text-question</strong></div>
                </div>
                <div class="card-body card-block">
                    <div class="form-group">
                        <label class=" form-control-label">Description</label>
                        <div class="input-group">
                            <div class="input-group-addon"></div>
                            <input class="form-control" value="{{question.description}}" name="description">
                        </div>

                    </div>
                    <div class="form-group">
                        <label class=" form-control-label">point</label>
                        <div class="input-group">
                            <div class="input-group-addon"><i class="fa fa-usd"></i></div>
                            <input class="form-control" type="number" value="{{question.point}}" name="point">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class=" form-control-label">Header text</label>
                        <div class="input-group">
                            <div class="input-group-addon"><i class="fa fa-phone"></i></div>
                            <input class="form-control" value="{{question.header_text}}" name="qht">
                        </div>

                    </div>
                    <div class="form-group">
                        <label class=" form-control-label">footer text</label>
                        <div class="input-group">
                            <input class="form-control" value="{{question.footer_text}}" name="qft">
                        </div>
                    </div>

                    <div class="form-group">
                        <label class=" form-control-label">success msg</label>
                        <div class="input-group">
                            <input class="form-control" value="{{question.success_message}}" name="success_msg">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class=" form-control-label">fail msg</label>
                        <div class="input-group">
                            <div class="input-group-addon"><i class="fa fa-usd"></i></div>
                            <input class="form-control" value="{{question.fail_message}}" name="fail_msg">
                        </div>
                    </div>
                </div>

         <div class="card-body">
      <label class=" form-control-label">free text</label>
                 {%for choix in question.free_text_set.all %}
             <input type="hidden" value="{{choix.id}}" name="id">
             <textarea class="form-control" placeholder="The Text ..." name="text">{{choix.text}}</textarea>
                               {%endfor%} </div>


          </div>
        <div class="form-group row">
            <div class="col-sm-10">
                <button type="submit" class="btn btn-info">save</button>

            </div>
        </div>
   </div>

</form>
    {% endblock %} </div>