{% extends 'exam/base.html' %}
{% block content %}

<div class="container">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <div class="well well-sm">
                <form class="form-horizontal" action="" method="post">
                    {% csrf_token %}
                    <fieldset>
                        <!--<legend class="text-center">Contact us</legend>-->


                        <!--<sender>-->
                        <!--<div class="form-group">-->
                        <!--<label class="col-md-3 control-label" for="FROM">FROM</label>-->
                        <!--<div class="col-md-9">-->
                        <!--<input id="FROM" name="FROM" type="text" placeholder="Your email" class="form-control">-->
                        <!--</div>-->
                        <!--</div>-->
                        <!--<receiver>-->
                        <!--<div class="form-group">-->
                        <!--<label class="col-md-3 control-label" for="TO">TO</label>-->
                        <!--<input id="TO" name="TO" type="text" placeholder="destination_mail" class="form-control">-->
                        <!--</div>-->

                        <!-- subject-->
                        <!--<div class="form-group">-->
                        <!--<label class="col-md-3 control-label" for="subject">Subject</label>-->
                        <!--<div class="col-md-9">-->
                        <!--<input id="subject" name="subject" type="text" placeholder="subject" class="form-control">-->
                        <!--</div>-->
                        <!--</div>-->

                        <!-- Message body -->
                        <div class="form-group">
                            <label class="col-md-3 control-label" for="message"></label>
                            <div class="col-md-9">
                        <textarea class="form-control" id="message" name="message"
                                  placeholder="Please enter your message here..." rows="5"></textarea>
                            </div>
                        </div>

                        <!-- Form actions -->
                        <div class="form-group">
                            <div class="col-md-12 text-right">
                                <button type="submit" class="btn btn-primary btn-lg">Send</button>
                            </div>
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}