{% extends "exam/base_user.html" %}

{% block content %}

<table class="table">

    <thead>
    <tr>
        <th scope="col">Exam_list</th>
        <th>Exam_category</th>
    </tr>
    </thead>
    <tbody>
    {% for key in exams %}
    <tr>
        <td>{{key.name}}<</td>
        <td> {{key.category}}</td>
        <a href="{% url 'exam:preparationSTUD' exam_id=key.id %}" type="=button" class="btn btn-info ">pass exam</a>
        </td>
        {% endfor %}
    </tr>

    </tbody>
</table>

{% endblock %}
